<div class="header" [ngClass]="isHomePage ? 'whiteheader' : 'blueheader'">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6">
        <div class="logo">
          <a routerLink="">
            <img
              [src]="
                isHomePage
                  ? '../../assets/images/logo.svg'
                  : '../../assets/images/logo-white.svg'
              "
              width="60"
              [ngClass]="isHomePage ? 'img-fluid' : 'img-fluid white-logo'"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="d-flex justify-content-end align-items-center side-menu">
          <div class="main-menu desktop-menu" *ngIf="showmenu">
            <ul [ngClass]="isHomePage ? 'blackmenu' : 'whitemenu'">
              <li>
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
              </li>
              <li>
                <a>Services</a>
                <ul class="dropdown-menu">
                  <li>
                    <a [routerLink]="['/website']">Website</a>
                  </li>
                  <li>
                    <a [routerLink]="['/mobile']">Mobile App</a>
                  </li>
                  <li>
                    <a [routerLink]="['/seo']">SEO</a>
                  </li>
                  <li>
                    <a [routerLink]="['/graphic']">Graphic Design</a>
                  </li>
                </ul>
              </li>
              <li>
                <a [routerLink]="['/about']" routerLinkActive="active">About</a>
              </li>
              <li>
                <a [routerLink]="['/contact']" routerLinkActive="active"
                  >Contact</a
                >
              </li>

              <!-- <li>
                <a (click)="hideMenu()" [routerLink]="['/contact']">Contact</a>
              </li> -->
            </ul>
          </div>
          <div class="menu">
            <img
              [src]="
                isHomePage
                  ? '../../assets/images/menu.svg'
                  : '../../assets/images/white-menu.svg'
              "
              width="40"
              class="img-fluid c-p close-menu"
              alt=""
              (click)="showMenu()"
              *ngIf="!showmenu"
            />
            <img
              [src]="
                isHomePage
                  ? '../../assets/images/close-menu.svg'
                  : '../../assets/images/close-whitemenu.svg'
              "
              width="40"
              [ngClass]="isHomePage ? 'open-menu' : 'open-menu-white'"
              class="img-fluid c-p"
              alt=""
              (click)="hideMenu()"
              *ngIf="showmenu"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-menu mobile-menu" *ngIf="showmenu">
    <ul [ngClass]="isHomePage ? 'blackmenu' : 'whitemenu'">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>

      <li>
        <a [routerLink]="['/about']" routerLinkActive="active">About</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
      </li>
      <li>
        <a>Services</a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/website']">Website</a>
          </li>
          <li>
            <a [routerLink]="['/mobile']">Mobile App</a>
          </li>
          <li>
            <a [routerLink]="['/seo']">SEO</a>
          </li>
          <li>
            <a [routerLink]="['/graphic']">Graphic Design</a>
          </li>
        </ul>
      </li>

      <!-- <li>
        <a (click)="hideMenu()" [routerLink]="['/contact']">Contact</a>
      </li> -->
    </ul>
  </div>
</div>
