.sv-hero {
  background-color: #f5f5f5;
  &::after {
    background-image: url(../../../assets/images/join-team.svg);
  }
  h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    line-height: 79px;
    width: 61%;
  }
}
.btn-white {
  background: #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 20px;
  color: #262332;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none !important;
  transition: 0.3s ease all;
  &:hover {
    transform: scale(0.9);
  }
  span {
    color: #30ccc6;
  }
}
a.btn.btn-main {
  background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
  border-radius: 5px;
  padding: 15px 35px;
  color: #fff;
  transition: 0.4s ease all;
  margin-top: 30px;
  &:hover {
    transform: translateY(5px) scale(0.9);
  }
}
.job-details-inner {
  margin-top: 30px;
  margin-bottom: 80px;
  h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 52px;
    margin: 50px 0 30px;
    letter-spacing: 1px;
    color: #172127;
  }
  ul {
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 50px;
  }
  li {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    /* or 150% */
    margin-bottom: 20px;

    color: #262332;

    mix-blend-mode: normal;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -20px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
    }
  }
}
