.sv-hero {
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/../../assets/images/about-header-icon-3.svg),
    url(/../../assets/images/about-header-icon-4.svg),
    url(/../../assets/images/about-header-icon-1.svg),
    url(/../../assets/images/career-banner-1.svg),
    linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
  background-repeat: no-repeat;
  background-position: 2% 80%, 88% 29%, 95% 57%, 81% 101%, center center;
  background-size: 17px, 15px, 30px, auto, 100%;
  h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    line-height: 79px;
    margin-bottom: 20px;
    margin-right: 180px;
  }
}
.btn-white {
  background: #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #262332;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none !important;
  transition: 0.3s ease all;
  margin-bottom: 70px;
  padding: 18px 46px;
  display: inline-block;
  img {
    margin-left: 10px;
  }
  &:hover {
    transform: scale(0.9);
  }
}
// a.btn.btn-main {
//   background-image: linear-gradient(to right, #009eff, #30ccc6, #009eff);
//   background-size: 300% 100%;
//   border-radius: 5px;
//   padding: 17px 46px;
//   display: inline-block;
//   color: #fff;
//   font-size: 20px;
//   font-weight: bold;
//   letter-spacing: 0;
//   line-height: 24px;
//   moz-transition: all 0.4s ease-in-out;
//   -o-transition: all 0.4s ease-in-out;
//   -webkit-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
//   &:hover {
//     background-position: 100% 0;
//     moz-transition: all 0.4s ease-in-out;
//     -o-transition: all 0.4s ease-in-out;
//     -webkit-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
//   }
// }
.job-details {
  background-image: url(/../../assets/images/about-icon-5.svg),
    url(/../../assets/images/about-icon-6.svg);
  background-repeat: no-repeat;
  background-position: 97% 17%, 2% 37%;

  .job-details-inner {
    margin-top: 90px;
    margin-bottom: 80px;
    h4 {
      font-style: normal;
      font-weight: 800;
      font-size: 45px;
      line-height: 52px;
      margin: 50px 0 30px;
      letter-spacing: 1px;
      color: #172127;
    }
    ul {
      padding-left: 28px;
      list-style-type: none;
      margin-bottom: 90px;
    }
    li {
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 28px;
      margin-bottom: 24px;
      color: #262332;
      mix-blend-mode: normal;
      opacity: 0.5;
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -26px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
      }
    }
  }
}

// ***************media query***************
@media screen and (max-width: 1600px) {
  .sv-hero {
    h2 {
      margin-right: 423px;
      font-size: 56px;
    }
  }
  .job-details {
    padding: 20px 0;
  }
  a.btn.btn-main {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .sv-hero {
    padding: 60px 0 59px 0px;
    background-position: 2% 80%, 89% 29%, 96% 57%, 83% 104%, center center;
    background-size: 17px, 15px, 30px, 30%, 100%;

    h2 {
      font-size: 30px !important;
      line-height: 40px !important;
    }
  }
  .btn-white {
    padding: 15px 30px;
    font-size: 18px;
  }
  .job-details {
    background-image: none;
    .job-details-inner {
      h4 {
        font-size: 30px;
      }
      ul {
      }
      li {
        margin-bottom: 18px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sv-hero {
    padding: 39px 0 0px 0px;
    background-image: none;
    background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
    h2 {
      margin-right: 0;
    }
  }
  a.btn.btn-main img {
    margin-left: 1px;
    width: 15px;
  }
  .btn-white {
    img {
      margin-left: 4px;
      width: 15px;
    }
  }

  .job-details {
    margin-top: 40px;
    margin-bottom: 40px;

    .job-details-inner {
      margin-top: 0px;
      margin-bottom: 0px;
      h4 {
        font-size: 25px;
        margin: 0px 0 15px;
        line-height: 36px;
      }
      ul {
        margin-bottom: 20px;
      }
      li {
        margin-bottom: 14px;
        font-size: 16px;
      }
    }
  }
}
