<section class="sv-hero s1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sv-hero-inner">
          <svg width="152px" height="3px" viewBox="0 0 152 3" version="1.1">
            <path
              d="M0 0.5L150 0.5"
              transform="translate(1 1)"
              id="Path-4"
              fill="none"
              fill-rule="evenodd"
              stroke="#FFFFFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <h2 class="mt-3">About Ventonix</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="work-with-us">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <div class="tssp">
          <p>
            Ventonix is an IT hub which provides you diverse services such as
            Website Designing, Website Development, Mobile App Development and
            Graphic Designing which suit perfectly to your needs.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tts">
          <ul>
            <li>
              <div class="icons">
                <img
                  src="../../assets/images/about-icon-1.svg"
                  class=""
                  alt=""
                />
              </div>
              <div class="content">
                <h2>
                  The mission of Ventonix is to provide secure and reliable
                  service that meets the customer’s needs.
                </h2>
              </div>
            </li>
            <li>
              <div class="icons">
                <img src="../../assets/images/icon1.svg" class="" alt="" />
              </div>
              <div class="content">
                <h2>
                  Our expertise lies in creating websites according to clients
                  vision and requirements.
                </h2>
              </div>
            </li>
            <li>
              <div class="icons">
                <img src="../../assets/images/icon1.svg" class="" alt="" />
              </div>
              <div class="content">
                <h2>
                  Ventonix is committed to providing the best services in web
                  technology, both technological and client servicing.
                </h2>
              </div>
            </li>
          </ul>
          <a [routerLink]="['/contact']" class="btn btn-main"
            >Contact us <img src="../../../assets/images/arrow.svg" alt="icon"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center mb-5">
          <h2>Meet our team</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="../../assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="../../assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="../../assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="../../assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="../../assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="../../assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-inner text-center">
          <img src="../../assets/images/team1.svg" class="img-fluid" alt="" />
          <h3>Jenna Doe</h3>
          <p>Software Engineer</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="lts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lts-inner">
          <h2>
            Take your career to next level, <br />
            join our team
          </h2>
          <a [routerLink]="['/careers']" class="btn-white-border"
            >See openings
            <img src="../../../assets/images/arrow.svg" alt="icon"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
