<!-- ********************Banner**************** -->
<section class="sv-hero s1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sv-hero-inner">
          <svg width="152px" height="3px" viewBox="0 0 152 3" version="1.1">
            <path
              d="M0 0.5L150 0.5"
              transform="translate(1 1)"
              id="Path-4"
              fill="none"
              fill-rule="evenodd"
              stroke="#FFFFFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <h2 class="mt-3">
            Delivering Awesome Digital Experiences Through Our Mobile App
            Development Services
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***************quotes*********************** -->
<section class="website-feature">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <div class="tssp">
          <p>
            We provide best-in-class mobile app development services for
            businesses and startups that offer a stellar experience to users on
            all modern platforms and devices.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tts">
          <ul>
            <li>
              <div class="icons">
                <img
                  src="../../../assets/images/icon1.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h2>Android & iPhone support</h2>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../../../assets/images/icon1.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h2>Online & offline applications</h2>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../../../assets/images/icon1.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h2>Cloud based user data storage</h2>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../../../assets/images/icon1.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h2>Social login & share integration</h2>
              </div>
            </li>
          </ul>
          <a [routerLink]="['/contact']" class="btn btn-main"
            >Get a quote &nbsp;<img src="../../../../assets/images/arrow.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- *******************Benefits*************************** -->
<section class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="benefits-title">
          <h2>Mobile App Development Services</h2>
          <p>
            We understand your business requirements & market trends to deliver
            best-in-class mobile app development services that help you enter
            the digital landscape and build a brand identity.
          </p>
        </div>
        <div class="benefits-list">
          <ul>
            <li>
              <div class="icons">
                <img
                  src="../assets/images/mobile-benefit-1.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h4>Native Mobile App Development</h4>
                <p>
                  We develop high-quality, scalable, and reliable mobile apps
                  for Android and iOS platforms that offer excellent
                  performance.
                </p>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../assets/images/mobile-benefit-2.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h4>Cross-Platform App Development</h4>
                <p>
                  Our mobile app developers use leading cross-platform
                  frameworks to develop mobile apps that offer a native-like
                  experience.
                </p>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../assets/images/mobile-benefit-3.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h4>Mobile App Porting</h4>
                <p>
                  We can migrate your mobile app to multiple platforms to reach
                  a larger audience and increase ROI for your business.
                </p>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../assets/images/mobile-benefit-4.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h4>Mobile App Design</h4>
                <p>
                  Our UI/UX design experts combine the latest design trends with
                  platform-specific guidelines to create an attractive &
                  user-friendly design.
                </p>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../assets/images/mobile-benefit-5.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h4>Mobile App Strategy</h4>
                <p>
                  Our mobile app consulting team creates a complete roadmap for
                  your app from start to finish to help your business thrive in
                  the digital landscape.
                </p>
              </div>
            </li>
            <li>
              <div class="icons">
                <img
                  src="../assets/images/mobile-benefit-6.svg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="content">
                <h4>Mobile App Maintenance and Support</h4>
                <p>
                  We utilize modern technologies and software tools to detect
                  issues and resolve bugs to keep your app robust, secure &
                  high-performant.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********************Recent Projects****************-->
<app-recent-projects></app-recent-projects>

<!-- ********************Appointment************ -->
<section class="lts">
  <div class="lts-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="lts-inner">
            <h2>Have an excellent idea in mind? Don't know where to start?</h2>
            <p>Our expert will contact you and provide a free consultation.</p>
            <a routerLink="/contact" class="btn-white-border">
              Get a quote <img src="../../../../assets/images/arrow.svg"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
