.sv-hero {
  padding: 130px 0 79px 0px;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/../../assets/images/about-header-icon-3.svg),
    url(/../../assets/images/about-header-icon-4.svg),
    url(/../../assets/images/about-header-icon-1.svg),
    url(/../../assets/images/mobile-banner-1.svg),
    linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
  background-repeat: no-repeat;
  background-position: 2% 80%, 88% 29%, 95% 57%, 81% 128%, center center;
  background-size: 17px, 15px, 30px, auto, 100%;
  h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    line-height: 78px;
    margin-right: 688px;
    margin-bottom: 130px;
  }
}

// ********************button****************
a.btn.btn-main {
  background-image: linear-gradient(to right, #009eff, #30ccc6, #009eff);
  background-size: 300% 100%;
  border-radius: 5px;
  padding: 16px 46px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

// *******************work with us*********************
.website-feature {
  padding: 200px 0 200px 0;
  background-image: url(/../../assets/images/about-icon-5.svg),
    url(/../../assets/images/about-icon-6.svg);
  background-repeat: no-repeat;
  background-position: 96% 30%, 5% 80%;
  p {
    opacity: 0.5;
    color: #262332;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    max-width: 400px;
  }
  .tts {
    margin-top: 20px;
    h2 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 32px;
      color: #262332;
      margin-bottom: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 0 0 40px 0;
        display: flex;
        .icons {
          margin-right: 15px;
        }
      }
    }
    a {
      // margin-left: 26px;
    }
  }
}

// ***********************Benefits*******************
.benefits {
  background: #f5f5f5;
  background-image: url(/../../assets/images/about-icon-5.svg),
    url(/../../assets/images/about-icon-6.svg),
    url(/../../assets/images/about-icon-8.svg);
  background-repeat: no-repeat;
  background-position: 3% 53%, 95% 13%, 95% 94%;
  padding: 188px 0 165px 0;
  .benefits-title {
    h2 {
      color: #172127;
      font-size: 45px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 60px;
    }
    p {
      opacity: 0.5;
      color: #262332;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
      margin: 30px 21% 90px 0;
    }
  }
  .benefits-list {
    ul {
      li {
        background: #fff;
        border-radius: 2px;
        width: 48%;
        float: left;
        box-sizing: border-box;
        padding: 60px;
        margin: 0px 20px 48px 0;
        h4 {
          color: #262332;
          font-family: Montserrat;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 32px;
          margin: 15px 0 20px;
        }
        p {
          color: #262332;
          font-size: 20px;
          letter-spacing: 0;
          line-height: 30px;
        }
      }
      li:nth-child(even) {
        margin: 0px 0px 48px 20px;
      }
    }
  }
}

.lts {
  padding: 180px 0;
  h2 {
    margin-bottom: 60px;
    text-align: center;
    padding: 0 4%;
  }
}

// **********************media query****************
@media screen and (max-width: 1700px) {
  .sv-hero {
    h2 {
      margin-right: 295px;
    }
  }
}
