.sv-hero {
  padding: 130px 0 79px 0px;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/../../assets/images/about-header-icon-3.svg),
    url(/../../assets/images/about-header-icon-4.svg),
    url(/../../assets/images/about-header-icon-1.svg),
    url(/../../assets/images/seo-banner-1.svg),
    linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
  background-repeat: no-repeat;
  background-position: 2% 80%, 88% 29%, 95% 57%, 81% 104%, center center;
  background-size: 17px, 15px, 30px, auto, 100%;
  h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    line-height: 78px;
    margin-right: 688px;
    margin-bottom: 130px;
  }
}

// ********************button****************
// a.btn.btn-main {
//   background-image: linear-gradient(to right, #009eff, #30ccc6, #009eff);
//   background-size: 300% 100%;
//   border-radius: 5px;
//   padding: 16px 46px;
//   display: inline-block;
//   color: #fff;
//   font-size: 20px;
//   font-weight: bold;
//   letter-spacing: 0;
//   line-height: 24px;
//   moz-transition: all 0.4s ease-in-out;
//   -o-transition: all 0.4s ease-in-out;
//   -webkit-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
//   &:hover {
//     background-position: 100% 0;
//     moz-transition: all 0.4s ease-in-out;
//     -o-transition: all 0.4s ease-in-out;
//     -webkit-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
//   }
// }

// *******************work with us*********************
.website-feature {
  padding: 200px 0 100px 0;
  background-image: url(/../../assets/images/about-icon-5.svg),
    url(/../../assets/images/about-icon-6.svg);
  background-repeat: no-repeat;
  background-position: 96% 30%, 5% 80%;
  p {
    opacity: 0.5;
    color: #262332;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    max-width: 400px;
  }
  .tts {
    margin-top: 20px;
    h2 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 32px;
      color: #262332;
      margin-bottom: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 0 0 40px 0;
        display: flex;
        .icons {
          margin-right: 15px;
        }
      }
    }
    a {
      // margin-left: 26px;
    }
  }
}

// ***********************Benefits*******************
.benefits {
  background: #f5f5f5;
  background-image: url(/../../assets/images/about-icon-5.svg),
    url(/../../assets/images/about-icon-6.svg),
    url(/../../assets/images/about-icon-8.svg);
  background-repeat: no-repeat;
  background-position: 3% 44%, 95% 13%, 100% 94%;
  padding: 188px 0 165px 0;
  .benefits-title {
    h2 {
      color: #172127;
      font-size: 45px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 60px;
    }
    p {
      opacity: 0.5;
      color: #262332;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
      margin: 30px 21% 90px 0;
    }
  }
  .benefits-list {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
      width: 100%;
      display: grid;
      grid-gap: 3rem;
      li {
        background: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 60px;
        height: 300px;
        h4 {
          color: #262332;
          font-family: Montserrat;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 32px;
          margin: 15px 0 20px;
        }
        p {
          color: #262332;
          font-size: 20px;
          letter-spacing: 0;
          line-height: 30px;
        }
      }
    }
  }
}

.lts {
  // padding: 180px 0;
  h2 {
    margin-bottom: 15px;
    text-align: center;
    padding: 0 28%;
  }
  p {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    margin: 0px 0 68px;
    padding: 0% 26%;
  }
}
.isBenefits {
  h2 {
    color: #172127;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 40px;
  }
  p {
    opacity: 0.5;
    color: #262332;
    font-family: Montserrat;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 40px;
  }
}
// ******************media queries****************
@media screen and (max-width: 1700px) {
  .sv-hero {
    background-position: 2% 80%, 88% 29%, 95% 57%, 87% 104%, center center;
    h2 {
      margin-right: 423px;
      font-size: 56px;
    }
  }

  a.btn.btn-main {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1450px) {
  .website-feature {
    padding: 90px 0 100px 0;
    p {
      max-width: 80%;
    }
    .tts {
      margin-top: 20px;
    }
  }

  .benefit-wrapper {
    padding: 90px 0 0;
  }

  .benefits {
    padding: 80px 0 90px 0px;
    background-position: 3% 98%, 95% 13%, 100% 99%;
    .benefits-list {
      ul {
        li {
          padding: 3rem;
          display: flex;
          max-height: none;
          flex-direction: column;
          height: auto;
          .icons img {
            max-width: auto;
          }
        }
      }
    }
  }

  .lts {
    // padding: 180px 0;
    h2 {
      font-size: 30px;
      line-height: 44px;
    }
    a {
      font-size: 18px;
      padding: 16px 27px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .sv-hero {
    padding: 170px 0 10px 0px;
    background-position: 2% 80%, 89% 29%, 96% 57%, 83% 104%, center center;
    background-size: 17px, 15px, 30px, 30%, 100%;

    h2 {
      font-size: 30px !important;
      line-height: 40px !important;
    }
  }

  .btn-white {
    padding: 15px 30px;
    font-size: 18px;
  }
  .benefits {
    padding: 90px 0 126px 0;
    background-image: none;
    .benefits-title {
      h2 {
      }
      p {
        margin: 30px 10% 42px 0;
      }
    }
    .benefits-list {
      ul {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        li {
          padding: 2rem;
          h4 {
            font-size: 20px;
            line-height: 32px;
            margin: 15px 0 20px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  .isBenefits {
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 10px;
    }
  }

  .website-feature {
    background-position: 96% 8%, 5% 80%;
    .tts {
      margin-top: 20px;
      h2 {
        font-size: 19px !important;
      }
      ul {
        li {
          margin: 0 0 25px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sv-hero {
    padding: 145px 0 0px 0px;
    background-image: none;
    background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
    h2 {
      margin: 0 0 100px 0;
    }
  }
  .website-feature {
    background-image: none;
    padding: 50px 0 54px 0;
    .tts {
      margin-top: 20px;
      h2 {
        font-size: 19px !important;
      }

      ul {
        margin: 36px 0 45px;
        li {
          margin: 0 0 25px 0;
          .icons {
            img {
              width: 67%;
            }
          }
          h2 {
            font-size: 18px !important;
            margin-top: 0;
          }
        }
      }
    }
  }

  .benefits-list {
    ul {
      li {
        padding: 2rem;
        margin: 0rem !important;
      }
    }
  }
  .lts {
    h2 {
      padding: 0 !important;
      margin-bottom: 10px !important;
    }
    p {
      padding: 0 I !important;
    }
    a {
      font-size: 14px;
      padding: 11px 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .benefits {
    padding: 63px 0 51px 0;
    background-image: none;
  }
  a.btn.btn-main img {
    width: 15px;
    margin-left: 0;
  }
}
