<footer>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="footer-inner">
          <div class="logo">
            <img
              src="assets/images/logo.svg"
              width="60"
              class="img-fluid"
              alt=""
            />
            <span>© 2022 Ventonix.com</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-inner">
          <ul>
            <li>
              <a routerLink="/policy">Privacy</a>
            </li>
            <li>
              <a routerLink="/terms">Terms Of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
