<section class="sv-hero s1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sv-hero-inner">
          <svg width="152px" height="3px" viewBox="0 0 152 3" version="1.1">
            <path
              d="M0 0.5L150 0.5"
              transform="translate(1 1)"
              id="Path-4"
              fill="none"
              fill-rule="evenodd"
              stroke="#FFFFFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <h2 class="mt-3">
            Application to join <br />
            our team
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="login-registration">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lp-inner">
          <h2>Apply now</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form">
          <form
            class="login-form"
            [formGroup]="applicationForm"
            (ngSubmit)="onSubmit(applicationForm)"
          >
            <div class="form-group">
              <select
                formControlName="jobDetails"
                class="form-control"
                placeholder="Select Position"
                ng-modal
              >
                <option value="" disabled selected selected>
                  select Your Position
                </option>
                <option *ngFor="let o of options" [value]="o">
                  {{ o.name }}
                </option>
              </select>

              <div
                *ngIf="
                  formName.jobDetails.invalid && formName.jobDetails.touched
                "
              >
                <mat-error *ngIf="formName.jobDetails.errors.required">
                  please Select Your Position
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="Your Full Name"
                formControlName="FullName"
                class="form-control"
                autocomplete="current-FullName"
              />
              <div
                *ngIf="formName.FullName.invalid && formName.FullName.touched"
              >
                <div *ngIf="formName.FullName.errors.required">
                  <mat-error>Full Name is required</mat-error>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-md-6 pl-0">
                <div class="form-group">
                  <input
                    type="number"
                    placeholder="Mobile"
                    formControlName="Phone"
                    class="form-control"
                    autocomplete="current-Phone"
                  />
                  <div *ngIf="formName.Phone.invalid && formName.Phone.touched">
                    <div *ngIf="formName.Phone.errors.required">
                      <mat-error>Phone No is required</mat-error>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pr-0">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Email"
                    autocomplete="Email"
                    formControlName="Email"
                    class="form-control"
                  />
                  <div *ngIf="formName.Email.invalid && formName.Email.touched">
                    <div *ngIf="formName.Email.errors.required">
                      <mat-error *ngIf="formName.Email.errors.required"
                        >Email is required</mat-error
                      >
                      <mat-error *ngIf="formName.Email.errors.email"
                        >Email must be a valid Email address</mat-error
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="Total experience"
                formControlName="experience"
                class="form-control"
                autocomplete="current-experience"
              />
              <div
                *ngIf="
                  formName.experience.invalid && formName.experience.touched
                "
              >
                <div *ngIf="formName.experience.errors.required">
                  <mat-error>Total experience is required</mat-error>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                type="text"
                placeholder="Current CTC"
                formControlName="CTC"
                class="form-control"
                autocomplete="current-CTC"
              />
              <div *ngIf="formName.CTC.invalid && formName.CTC.touched">
                <div *ngIf="formName.CTC.errors.required">
                  <mat-error>Current CTC is required</mat-error>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="Expected CTC"
                formControlName="Expected"
                class="form-control"
                autocomplete="current-Expected"
              />
              <div
                *ngIf="formName.Expected.invalid && formName.Expected.touched"
              >
                <div *ngIf="formName.Expected.errors.required">
                  <mat-error> Expected CTC is required</mat-error>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                type="text"
                placeholder="Reasong for change"
                formControlName="Reason"
                class="form-control"
                autocomplete="current-Reason"
              />
              <div *ngIf="formName.Reason.invalid && formName.Reason.touched">
                <div *ngIf="formName.Reason.errors.required">
                  <mat-error>Reason for change is required</mat-error>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Attach resume</label>
              <input
                type="file"
                placeholder="Attach resume (PDF/Doc only)"
                formControlName="resume"
                class="form-control"
                autocomplete="current-resume"
              />
              <div *ngIf="formName.resume.invalid && formName.resume.touched">
                <div *ngIf="formName.resume.errors.required">
                  <mat-error> Attach resume is required</mat-error>
                </div>
              </div>
            </div>

            <div class="form-group">
              <textarea
                rows="5"
                type="text"
                placeholder="Short cover letter"
                formControlName="letter"
                class="form-control"
                autocomplete="current-letter"
              >
              </textarea>
              <div *ngIf="formName.letter.invalid && formName.letter.touched">
                <div *ngIf="formName.letter.errors.required">
                  <mat-error> Short cover letter is required</mat-error>
                </div>
              </div>
            </div>

            <div class="form-group text-left">
              <button
                class="btn btn-main"
                [disabled]="!applicationForm.valid"
                (click)="onSubmit(applicationForm)"
              >
                <!-- <span
                  class="spinner-border spinner-border-sm mr-1"
                  *ngIf="applicationForm.valid"
                ></span> -->
                Submit →
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
