<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-inner">
          <h1>
            We at <span>Ventonix</span> <br />
            are  <span class="typing-css"></span>
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a [routerLink]="['/about']" class="btn btn-main nav__link"
            >Let's get started <img src="../../../assets/images/arrow.svg"
          /></a>
          <div class="hero-inner-img">
            <img src="../../../assets/images/home-banner-icon.svg" alt="icon" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hero-svg">
          <img src="assets/images/hero.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ************************** Recent Project ********************** -->
<section class="slide-project">
  <span class="img-bg-1">
    <img src="../../assets/images/slide-round.svg" class="img-fluid" alt="" />
    <img src="../../assets/images/circle.svg" class="img-fluid" alt="" />
  </span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slide-inner">
          <h4 class="text-white text-center">RECENT PROJECTS</h4>
          <!-- Swiper -->
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="../../assets/images/project1.png"
                  class="img-fluid W-100"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../assets/images/project2.png"
                  class="img-fluid W-100"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../assets/images/project3.png"
                  class="img-fluid W-100"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../assets/images/project4.png"
                  class="img-fluid W-100"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="swiper-container gallery-top mt-5">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide-inner">
                  <div class="row">
                    <div class="col-md-6 slider-main-image">
                      <img
                        src="../../assets/images/main-project1.png"
                        class="img-fluid W-100"
                        alt=""
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="slide-content">
                        <h2 class="text-white">
                          <strong
                            >Lorem ipsum dolor sit amet, consectetur</strong
                          >
                        </h2>
                        <p class="text-white my-5">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Qui voluptatibus sapiente distinctio inventore
                          ratione recusandae officia quasi vero esse nisi aut,
                          dolores repudiandae est voluptatum, amet soluta
                          laborum fuga voluptas?
                        </p>
                        <a href="javascript:void(0)" class="btn btn-border"
                          >Read more
                          <img
                            class="slider-icon"
                            src="../../../assets/images/arrow.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-inner">
                  <div class="row">
                    <div class="col-md-6 slider-main-image">
                      <img
                        src="../../assets/images/main-project1.png"
                        class="img-fluid W-100"
                        alt=""
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="slide-content">
                        <h2 class="text-white">
                          <strong
                            >Lorem ipsum dolor sit amet, consectetur</strong
                          >
                        </h2>
                        <p class="text-white my-5">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Qui voluptatibus sapiente distinctio inventore
                          ratione recusandae officia quasi vero esse nisi aut,
                          dolores repudiandae est voluptatum, amet soluta
                          laborum fuga voluptas?
                        </p>
                        <a href="javascript:void(0)" class="btn btn-border"
                          >Read more
                          <img
                            class="slider-icon"
                            src="../../../assets/images/arrow.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-inner">
                  <div class="row">
                    <div class="col-md-6 slider-main-image">
                      <img
                        src="../../assets/images/main-project1.png"
                        class="img-fluid W-100"
                        alt=""
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="slide-content">
                        <h2 class="text-white">
                          <strong
                            >Lorem ipsum dolor sit amet, consectetur</strong
                          >
                        </h2>
                        <p class="text-white my-5">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Qui voluptatibus sapiente distinctio inventore
                          ratione recusandae officia quasi vero esse nisi aut,
                          dolores repudiandae est voluptatum, amet soluta
                          laborum fuga voluptas?
                        </p>
                        <a href="javascript:void(0)" class="btn btn-border"
                          >Read more
                          <img
                            class="slider-icon"
                            src="../../../assets/images/arrow.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-inner">
                  <div class="row">
                    <div class="col-md-6 slider-main-image">
                      <img
                        src="../../assets/images/main-project1.png"
                        class="img-fluid W-100"
                        alt=""
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="slide-content">
                        <h2 class="text-white">
                          <strong
                            >Lorem ipsum dolor sit amet, consectetur</strong
                          >
                        </h2>
                        <p class="text-white my-5">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Qui voluptatibus sapiente distinctio inventore
                          ratione recusandae officia quasi vero esse nisi aut,
                          dolores repudiandae est voluptatum, amet soluta
                          laborum fuga voluptas?
                        </p>
                        <a href="javascript:void(0)" class="btn btn-border"
                          >Read more
                          <img
                            class="slider-icon"
                            src="../../../assets/images/arrow.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ****************************We offer  *************************** -->

<section class="we-offre">
  <img
    src="../../assets/images/we-offer-icon1.svg"
    class="img-fluid off2"
    alt=""
  />
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <div class="we-offer-inner">
          <h5><small>WE OFFERS</small></h5>
          <h2>
            <strong>Expert <span>Services</span></strong>
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col-md-7 col-lg-7">
        <div class="we-offer-inner1">
          <ul>
            <li>
              <div class="services-offer">
                <img
                  src="../../assets/images/web-dev.svg"
                  class="img-fluid"
                  alt=""
                />
                <h3>
                  Web <br />
                  Developement
                </h3>
                <a routerLink="">Read more</a>
              </div>
            </li>
            <li>
              <div class="services-offer">
                <img
                  src="../../assets/images/mobile-app.svg"
                  class="img-fluid"
                  alt=""
                />
                <h3>
                  Mobile App <br />
                  Developement
                </h3>
                <a routerLink="">Read more</a>
              </div>
            </li>
            <li>
              <div class="services-offer">
                <img
                  src="../../assets/images/seo.svg"
                  class="img-fluid"
                  alt=""
                />
                <h3>
                  Search Engine<br />
                  Optimization
                </h3>
                <a routerLink="">Read more</a>
              </div>
            </li>
            <li>
              <div class="services-offer">
                <img
                  src="../../assets/images/graphic-design.svg"
                  class="img-fluid"
                  alt=""
                />
                <h3>
                  Graphic <br />
                  Design
                </h3>
                <a routerLink="">Read more</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/we-offer-icon.svg" class="img-fluid of1" alt="" />
</section>

<!-- ************************* project counting nubmer -->
<section class="numbers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="numbers-title">
          <h5>
            <small>VENTONIX IN NUMBERS</small>
          </h5>
          <h2>
            Since years we have put in our hard work and dedication to excell
            our client’s expectations. Here are just few stats.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- **********************Work WIth us ************ -->
<section class="work-with-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="work-with-inner">
          <ul id="counter">
            <li>
              <span class="count percent" data-count="90"> 0 </span>
              <span>%</span>
              <p>Customer Satisfaction</p>
            </li>
            <li>
              <span class="count percent" data-count="55"> 0 </span>
              <span>+</span>
              <p>Projects</p>
            </li>
            <li>
              <span class="count percent" data-count="8"> 0 </span
              ><span>+</span>
              <p>Employees</p>
            </li>
            <li>
              <span class="count percent" data-count="10"> 0 </span
              ><span>+</span>
              <p>Technologies</p>
            </li>
            <li>
              <span class="count percent" data-count="40"> 0 </span
              ><span>+</span>
              <p>Customers</p>
            </li>
            <li>
              <span class="count percent" data-count="2"> 0 </span>
              <p>Offices</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="tts">
          <h2>
            Why work <br />
            with us?
          </h2>
        </div>
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="tts">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-md-8 col-lg-9">
        <div class="tts">
          <ul>
            <li>
              <div class="icons">
                <img src="assets/images/icon1.svg" class="img-fluid" alt="" />
              </div>
              <div class="content">
                <h2>Dedicated Resources</h2>
                <h4>Every project is backed with real working humans</h4>
              </div>
            </li>
            <li>
              <div class="icons">
                <img src="assets/images/icon1.svg" class="img-fluid" alt="" />
              </div>
              <div class="content">
                <h2>Perfection</h2>
                <h4>All our work is quality tested for high quality</h4>
              </div>
            </li>
            <li>
              <div class="icons">
                <img src="assets/images/icon1.svg" class="img-fluid" alt="" />
              </div>
              <div class="content">
                <h2>On-time Delivery</h2>
                <h4>Your time is precious. We understand it!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ****************review ************* -->
<section class="review">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>What our client says</h2>
          <div class="swiper-container review12">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="rw-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
                <h3>Erin Wilson</h3>
                <small>Marketing Manager</small>
              </div>
              <div class="swiper-slide">
                <div class="rw-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
                <h3>Erin Wilson</h3>
                <small>Marketing Manager</small>
              </div>
              <div class="swiper-slide">
                <div class="rw-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
                <h3>Erin Wilson</h3>
                <small>Marketing Manager</small>
              </div>
              <div class="swiper-slide">
                <div class="rw-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
                <h3>Erin Wilson</h3>
                <small>Marketing Manager</small>
              </div>
              <div class="swiper-slide">
                <div class="rw-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
                <h3>Erin Wilson</h3>
                <small>Marketing Manager</small>
              </div>
              <div class="swiper-slide">
                <div class="rw-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
                <h3>Erin Wilson</h3>
                <small>Marketing Manager</small>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- **************************lets start your project**************** -->
<section class="lts">
  <div class="lts-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lts-inner">
          <h2>Let's start your project now</h2>
          <a [routerLink]="['/contact']" class="btn-white-border"
            >Contact us now <img src="../../../assets/images/arrow.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
