@import "../../../assets/scss/mixin.scss";
@import "../../../assets/scss/color.scss";
.hero {
  min-height: calc(100vh - 147px);
  display: flex;
  align-items: center;
  padding: 90px 0;
  position: relative;
  .hero-inner {
    margin: 50px 0 0;
    h1 {
      font-size: 65px;
      color: #262332;
      font-size: 65px;
      font-weight: 900;
      letter-spacing: 0;
      line-height: 68px;
    }
    p {
      opacity: 0.5;
      color: #262332;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
      margin: 30px 0 44px 0;
    }
    .hero-inner-img {
      position: absolute;
      bottom: 0;
      left: -42px;
    }
  }
  .hero-svg {
    img {
      width: 100%;
    }
    g#g1 {
      animation: rotate 1100s infinite linear;
      transform-box: fill-box;
      transform-origin: left;
    }
    g#Group-6 {
      animation: zoom 10s infinite linear;
      transform-box: fill-box;
      transform-origin: right;
    }
  }
}
.review12 .swiper-wrapper {
  padding-bottom: 70px;
  h3 {
    margin-top: 40px;
    background: $primary-gradient;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
  p {
    color: #79848b;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}
.slide-project {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
  padding: 150px 0 100px 0;
  position: relative;
  z-index: 1;
  .slide-content {
    padding-right: 123px;
  }
  h4 {
    margin-bottom: 39px;
    font-weight: 800;
    font-size: 19px;
  }
  p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  a.btn.btn-border {
    color: #fff;
    border: 2px solid #fff;
    padding: 16px 45px;
    display: inline-block;
    position: relative;
    transition: 0.4s ease all;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;

    &:hover {
      background-color: white;
      background: $primary-gradient;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
      }
    }
  }
  .slider-icon {
    width: auto;
    margin-left: 10px;
  }
  span.img-bg-1 img:first-child {
    position: absolute;
    top: 100px;
    left: 90px;
  }
  span.img-bg-1 img:last-child {
    position: absolute;
    right: 150px;
    top: 250px;
  }
  .gallery-top {
    margin: 92px 0 33px 0 !important;
  }
}

.we-offre {
  position: relative;
  z-index: 1;
  padding: 180px 0 0 0;
  margin-bottom: 60px;
  .we-offer-inner {
    margin-right: 50px;
    padding-left: 109px;
    h5 {
      small {
        background: $primary-gradient;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        font-size: 19px;
      }
    }
    h2 {
      color: #262332;
      font-size: 45px;
      font-weight: 800;
      line-height: 60px;
      letter-spacing: 1px;
      margin: 30px 0 35px 0;
    }
    p {
      opacity: 0.5;
      color: #262332;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
      margin-right: 62px;
    }
  }
  .we-offer-inner1 {
    margin-top: 50px;
    margin-bottom: 80px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        padding-right: 66px;
        margin-bottom: 60px;
        .services-offer {
          border-radius: 2px;
          border: 2px solid #f5f5f5;
          // padding: 36px 33px 36px 33px;
          padding: 61px;
          min-height: 150px;
          width: 100%;
          h3 {
            color: #262332;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            margin: 20px 0;
          }
          a {
            color: #262332;
            font-size: 17px;
            font-weight: 700;
            line-height: 20px;
            border-bottom: 2px solid #0aa7f4;
            padding-bottom: 3px;
            &:hover {
              border-bottom: 2px solid #262332;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .of1 {
    position: absolute;
    bottom: 54px;
    left: -28px;
  }
  .off2 {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 73px;
  }
}
.numbers {
  padding: 120px 0;
  .numbers-title {
    h5 {
      text-align: center;
      margin-bottom: 48px;
      small {
        background: $primary-gradient;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        font-size: 19px;
      }
    }
    h2 {
      color: #262332;
      font-size: 45px;
      font-weight: 800;
      margin: 0 auto;
      line-height: 55px;
      max-width: 855px;
      text-align: center;
      letter-spacing: 0.3;
      margin-bottom: 120px;
    }
  }
}
.work-with-us {
  background-image: url(/../../assets/images/home-work-icon-1.svg),
    url(/../../assets/images/home-work-icon-2.svg),
    url(/../../assets/images/home-work-icon-3.svg);
  background-repeat: no-repeat;
  background-position: 2% 59%, 14% 93%, 94% 76%;
  padding: 60px 60px 107px 60px;
  background-color: #f5f5f5;
  background-size: 4%, 8%, 5%;
  .work-with-inner {
    border-radius: 10px;
    background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
    padding: 30px;
    position: relative;
    top: -170px;
    #counter {
      padding: 25px;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      li {
        flex: 1;
        text-align: center;
        font-size: 50px;
        span {
          color: #ffffff;
          font-size: 60px;
          font-weight: 700;
          line-height: 90px;
          text-align: center;
        }
        p {
          color: #ffffff;
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
          text-align: center;
        }
      }
    }
  }
  .tts {
    // margin-top: 100px;
    h2 {
      color: #262332;
      font-size: 45px;
      font-weight: 800;
      line-height: 60px;
      margin-bottom: 10px;
      margin-top: 0;
    }
    h4 {
      color: #262332;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 32px;
    }
    p {
      opacity: 0.5;
      color: #262332;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 30px 0;
      li {
        margin: 50px 0;
        display: flex;
        .icons {
          margin-right: 20px;
        }
        h2 {
          color: #262332;
          font-size: 30px;
          font-weight: 800;
          line-height: 31px;
          margin-bottom: 10px;
          margin-top: 0;
        }
        p {
          color: #262332;
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;
          margin: 20px 66px 4px 0;
        }
      }
    }
  }
}

.review {
  display: flex;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 190px 0 140px;
  .title {
    h2 {
      color: #262332;
      font-size: 45px;
      font-weight: 800;
      line-height: 60px;
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 80px;
    }
  }
  .rw-inner {
    display: block;
    margin: 0 auto;
    padding: 80px 25px;
    max-width: 850px;
    background: #f5f5f5;
    position: relative;
    z-index: 1;
    p {
      margin: 0 48px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #f5f5f5;
      width: 20px;
      height: 20px;
    }
    small {
      font-weight: 500;
      font-size: 16px;
    }
  }
  h3 {
    font-weight: bold;
  }
  small {
    font-weight: 500;
  }
}
.logo {
  filter: none !important;
}
.c-p {
  filter: none !important;
}
.lts {
  // padding: 180px 0;
  h2 {
    margin-bottom: 60px;
  }
}

// ******************media query*******************
@media screen and (max-width: 1600px) {
  .hero {
    .hero-inner {
      h1 {
        font-size: 45px;
        line-height: 60px;
      }
      p {
        font-size: 19px;
      }
    }
  }

  .slide-project {
    padding: 90px 0 80px 0;
    .slide-content {
      padding-right: 60px;

      h2 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
        margin: 30px 0;
      }
    }
  }

  .we-offre {
    padding: 120px 0 0 0;
    margin-bottom: 60px;
    // /* margin-bottom: 60px
    .we-offer-inner {
      margin-right: 30px;
      padding-left: 50px;
      h2 {
        margin: 26px 0 24px 0px;
        font-size: 40px;
        line-height: 40px;
      }
      p {
        font-size: 18px;
        margin-right: 32px;
      }
    }
    li {
      padding-right: 40px;
      margin-bottom: 39px;
      .services-offer {
      }
    }
  }

  .numbers {
    padding: 70px 0;
    .numbers-title {
      h5 {
        margin-bottom: 30px;
      }
      h2 {
        margin-bottom: 91px;
        font-size: 40px;
        max-width: 73%;
        line-height: 50px;
      }
    }
  }
  .review {
    padding: 82px 0 100px;
  }
}

@media screen and (max-width: 1400px) {
  .we-offre {
    .we-offer-inner1 {
      ul {
        li {
          padding-right: 30px;
          margin-bottom: 30px;
          .services-offer {
          }
        }
      }
    }
  }

  .work-with-us {
    .work-with-inner {
      #counter {
        li {
          font-size: 40px;
          span {
            font-size: 30px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
    .tts {
      ul {
        li {
          margin: 20px 0;
          h4 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .we-offre {
    .we-offer-inner1 {
      ul {
        li {
          padding-right: 30px;
          margin-bottom: 30px;
          .services-offer {
            padding: 15px;
            text-align: center;
          }
        }
      }
    }
  }

  .numbers {
    .numbers-title {
      h2 {
        font-size: 30px;
      }
    }
  }
  .slide-project a.btn.btn-border {
    padding: 8px 18px;
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .mb-5,
  .my-5 {
    margin: 20px 0 !important;
  }
  .hero {
    .hero-inner {
      h1 {
        br {
          display: none;
        }
      }
      p {
      }
    }
  }

  .slide-project {
    .slide-content {
      .my-5,
      p {
        margin: 0;
      }
    }
    .img-bg-1 {
      img {
        display: none;
      }
    }
  }
  .slider-main-image {
    padding-left: 0;
    img {
      width: 80%;
    }
  }

  .we-offre {
    .we-offer-inner1 {
      ul {
        li {
          .services-offer {
            h3 {
              font-size: 19px;
              margin: 15px 0;
              br {
                display: none;
              }
            }
            a {
              margin-bottom: 20px;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .work-with-us {
    background-image: none;
    .col-md-4 .tts {
      margin: 23px 0;
      h2 {
        br {
          display: none;
        }
      }
    }
  }

  .lts {
    .lts-container {
      background-image: none;
    }
  }
  .numbers {
    .numbers-title {
      h2 {
        max-width: 100%;
      }
    }
  }
}
