.sv-hero {
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/../../assets/images/about-header-icon-3.svg),
    url(/../../assets/images/about-header-icon-4.svg),
    url(/../../assets/images/about-header-icon-1.svg),
    url(/../../assets/images/career-banner-1.svg),
    linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
  background-repeat: no-repeat;
  background-position: 2% 80%, 88% 29%, 95% 57%, 81% 101%, center center;
  background-size: 17px, 15px, 30px, auto, 100%;
  h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    line-height: 79px;
    margin-bottom: 130px;
  }
}
a:hover {
  text-decoration: none;
}
.Currentopenings {
  background-image: url(/../../assets/images/about-icon-5.svg),
    url(/../../assets/images/about-icon-6.svg);
  background-repeat: no-repeat;
  background-position: 95% 11%, 1% 29%;
  h2 {
    font-size: 45px;
    font-weight: 800;
    margin: 67px 0 101px 0;
    &:hover {
      color: #009eff;
    }
  }
  ul {
    margin: 0 0 30px 0;
  }
}
.Currentopenings-inner {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      background: #f5f5f5;
      padding: 60px;
      position: relative;
      z-index: 1;
      margin-bottom: 12px;
      h4 {
        color: #262332;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
      p {
        color: #a3a3a3;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }
      img {
        position: absolute;
        top: 48%;
        right: 60px;
      }
    }
    li:hover {
      border: 1px solid #009eff;
    }
  }
}
.pagination {
  li {
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #a3a3a3;
      border: 0;
      margin: 1px;
      &.active {
        border: 1px solid #009eff;
      }
    }
  }
}

// *****************media query**********************
@media screen and (max-width: 1700px) {
  .sv-hero {
    h2 {
      font-size: 50px;
      margin-right: 388px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .sv-hero {
    h2 {
      margin-right: 388px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .sv-hero {
    padding: 60px 0 59px 0px;
    background-position: 2% 80%, 89% 29%, 96% 57%, 83% 104%, center center;
    background-size: 17px, 15px, 30px, 30%, 100%;

    h2 {
      font-size: 30px !important;
      line-height: 40px !important;
    }
  }

  .Currentopenings {
    padding: 30px 0;
    h2 {
      margin: 67px 0 60px 0;
    }
    ul {
      margin: 0 0 30px 0;
    }
  }

  .Currentopenings-inner {
    ul {
      li {
        padding: 40px;
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sv-hero {
    padding: 39px 0 0px 0px;
    background-image: none;
    background: linear-gradient(135deg, #009eff 0%, #30ccc6 100%);
    h2 {
      margin-right: 0;
    }
  }
  .Currentopenings {
    padding: 10px 0;
    background-image: none;
    h2 {
      margin: 67px 0 30px 0;
    }
    ul {
      margin: 0 0 30px 0;
    }
  }

  .Currentopenings-inner {
    ul {
      li {
        padding: 20px;
        img {
          right: 20px;
          width: 18px;
        }
        h4 {
          font-size: 17px;
        }
      }
    }
  }
}
