<section class="sv-hero s1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sv-hero-inner">
          <svg width="152px" height="3px" viewBox="0 0 152 3" version="1.1">
            <path
              d="M0 0.5L150 0.5"
              transform="translate(1 1)"
              id="Path-4"
              fill="none"
              fill-rule="evenodd"
              stroke="#FFFFFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <h2 class="mt-3">
            Join the ventonix <br />
            team
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Currentopenings">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="title mt-5 mb-3">
          <h2>Current openings</h2>
        </div>
        <div class="Currentopenings-inner">
          <ul>
            <li *ngFor="let item of careers">
              <a [routerLink]="['/job-listing', item?.id]">
                <h4>{{ item?.name }}</h4>
                <p>{{ item?.location }}</p>
                <img
                  src="assets/images/arrow-right.svg"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12"> -->
    <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Pre</a></li>
            <li class="page-item">
              <a class="page-link active" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav> -->
    <!-- </div>
    </div> -->
  </div>
</section>
